@{
    ViewData["Title"] = "Events";
}

@{
    Layout = null; // Não usar o layout padrão, se você não quiser
}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="CSS/General.css">
    <link rel="stylesheet" href="CSS/about-css.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="/Index.html" class="brand-logo">Bar da Graça</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/about.html">Sobre nós</a></li>
                <li><a href="/products.html">Cardápio</a></li>
                <li><a href="/Events.html">Eventos</a></li>
                <li><a href="/SpecialOrders.html">Encomendas</a></li>
                <li><a href="https://www.ifood.com.br/delivery/ipatinga-mg/bar-da-graca-ltda---caravelas/03b5aba0-37fa-4a50-a0ec-1303a46f2cf0?utm_medium=share">Peça agora</a></li>
            </ul>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="row">
                <div class="col s12 l12">
                    <h1> Fique por dentro dos nossos eventos<br> e curta os cardápios especiais! </h1>
                </div>
            </div>
        </div>
    </header>
    <main>

        <div class="container" id="events-list">
            <div class="row">

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Galinhada no Bar da Graça </span>
                        <p>DD/MM/AA, às HH:MM</p>
                        <p>Aliquam ultrices, enim sit amet faucibus egestas, turpis lorem lacinia nisl, id luctus nisi est sed dolor.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Quinta do Feijão Bagunçado </span>
                        <p>Primeira quinta-feira do mês, das XXh às YYh. </p>
                        <p>Aliquam ultrices, enim sit amet faucibus egestas, turpis lorem lacinia nisl, id luctus nisi est sed dolor.</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="row deep-orange lighten-5" id="depoimentos">
            <div class="container">
                <h3> O que os nossos clientes dizem... </h3>
                <div class="row">
                    <div class="col l4 s12">
                        <div class="card">
                            <div class="card-content">
                                <img src="img/rating.png">
                                <span class="card-title">Melhor tempero da região</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ornare nulla, sit amet ornare ligula. Fusce lobortis tincidunt tincidunt. Vestibulum faucibus nisl quis vestibulum rhoncus. Maecenas ultricies viverra tincidunt. Nam sagittis sem nec euismod consequat. Fusce ut ipsum quis nulla venenatis hendrerit sed vestibulum felis.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col l4 s12">
                        <div class="card">
                            <div class="card-content">
                                <img src="img/rating.png">
                                <span class="card-title">Melhor tempero da região</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ornare nulla, sit amet ornare ligula. Fusce lobortis tincidunt tincidunt. Vestibulum faucibus nisl quis vestibulum rhoncus. Maecenas ultricies viverra tincidunt. Nam sagittis sem nec euismod consequat. Fusce ut ipsum quis nulla venenatis hendrerit sed vestibulum felis.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col l4 s12">
                        <div class="card">
                            <div class="card-content">
                                <img src="img/rating.png">
                                <span class="card-title">Melhor tempero da região</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ornare nulla, sit amet ornare ligula. Fusce lobortis tincidunt tincidunt. Vestibulum faucibus nisl quis vestibulum rhoncus. Maecenas ultricies viverra tincidunt. Nam sagittis sem nec euismod consequat. Fusce ut ipsum quis nulla venenatis hendrerit sed vestibulum felis.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.8850002311856!2d-42.5361543!3d-19.460524399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb0003477eb7b29%3A0x5d22706f5d609dfe!2sR.%20Goi%C3%A2nia%2C%20575%20-%20Caravelas%2C%20Ipatinga%20-%20MG%2C%2035164-275!5e0!3m2!1spt-BR!2sbr!4v1682354848892!5m2!1spt-BR!2sbr" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>

    <footer class="page-footer deep-orange darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Bar da Graça</h5>
                    <p class="grey-text text-lighten-4">R. Goiânia, 575 <br> Caravelas, Ipatinga - MG, 35164-275.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!"><img src="img/insta.png" alt="instagram"></a></li>
                        <li><a href="https://www.ifood.com.br/delivery/ipatinga-mg/bar-da-graca-ltda---caravelas/03b5aba0-37fa-4a50-a0ec-1303a46f2cf0?utm_medium=share" class="grey-text text-lighten-3" href="#!"><img src="img/ifood.svg" alt="ifood"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2023
            </div>
    </footer>



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>