<header>
    <div class="container">
        <div class="row">
            <div class="col s12 l8 col offset-l4">
                <h1> Bar da Graça </h1>
                <h2> Há 24 anos trazendo o melhor tempero da região </h2>
                <div class="row button-group">
                    <a href="https://www.ifood.com.br/delivery/ipatinga-mg/bar-da-graca-ltda---caravelas/03b5aba0-37fa-4a50-a0ec-1303a46f2cf0?utm_medium=share" class="waves-effect waves-light btn-large deep-orange darken-3">Peça agora</a>
                    <a class="waves-effect waves-light btn-large light-blue darken-3" href="/Home/Produtos">Ver cardápio</a>
                </div>
            </div>
        </div>
    </div>
</header>