@{
    ViewData["Title"] = "Sobre nós";


}


<div class="row">
    <p>
        O Bar da Graça se destaca em meio à rica e diversa cena culinária de Ipatinga, cidade localizada no estado de Minas Gerais. O restaurante, que fica no bairro Caravelas e tem uma tradição de 24 anos, o que o torna um dos mais antigos e respeitados na região.
    </p>

    <p>
        Uma das principais características do Bar da Graça é a sua cozinha caseira, que traz o sabor e o conforto dos pratos feitos em casa para o ambiente acolhedor e descontraído do restaurante. Os ingredientes são escolhidos cuidadosamente, e as receitas são preparadas com carinho e dedicação pelos cozinheiros, que buscam sempre manter a qualidade e a autenticidade dos pratos.
    </p>
</div>
<div class="row">
    <div class="col s12 l6">
        <img src="~/img/Esp01.png" class="about-us-images">
    </div>
    <div class="col s12 l6">
        <p>
            Um dos pratos mais famosos e apreciados pelos clientes do Bar da Graça é o Angu à Baiana, que conquista pela sua textura cremosa e o seu sabor marcante. Feito com fubá de milho, àgua, mussarela e outros ingredientes secretos, o Angu à Baiana é uma iguaria que faz parte da tradição culinária de Minas Gerais e é um verdadeiro patrimônio cultural brasileiro.
        </p>

        <p>
            Além do Angu à Baiana, o Bar da Graça oferece uma variedade de outras opções de pratos, incluindo feijão amigo, caldo-de-pinto, vaca-atolada, canjiquinha, entre outros. Para acompanhar, há diversas opções de bebidas, como cervejas, refrigerantes, sucos e água.
        </p>

        <p>
            Com seu ambiente acolhedor e simpático, o Bar da Graça é um lugar ideal para reunir a família e os amigos para uma refeição gostosa e descontraída. Seja para almoçar, jantar ou simplesmente tomar uma cervejinha com os amigos, o Bar da Graça é uma escolha certa para quem busca boa comida e um ambiente agradável em Ipatinga.
        </p>
    </div>

</div>

@section style{
    <link rel="stylesheet" href="~/css/About-css.css">
}