<h3> Já conhece as nossas especialidades? </h3>
<div class="row">
    <div class="col l4 s12">
        <div class="card">
            <div class="card-image">
                <img class="activator" src="~/img/Esp01.png">
                <span class="card-title">Angu a baiana</span>
            </div>
            <div class="card-content">
                <p>
                    O "Angu à Baiana" é um prato típico da culinária baiana, uma região do Brasil conhecida por sua rica gastronomia. O angu, uma espécie de polenta ou mingau de fubá, é preparado de forma especial, com ingredientes e temperos que conferem um sabor único e característico.

                    Para fazer o Angu à Baiana, começa-se cozinhando o fubá em água ou caldo de carne, mexendo constantemente até obter uma consistência cremosa e homogênea. Em seguida, são adicionados diversos ingredientes para enriquecer o sabor.Esse prato tradicional é apreciado pela sua combinação de texturas macias e cremosas, com um sabor marcante e picante. É uma opção deliciosa para os amantes da culinária baiana e da comida brasileira em geral.
                </p>
            </div>
        </div>
    </div>


    <div class="col l4 s12">
        <div class="card">
            <div class="card-image">
                <img class="activator" src="~/img/FeijaoB.png">
                <span class="card-title">Feijão Bagunçado</span>
            </div>
            <div class="card-content">
                <p>O "Feijão Bagunçado" é um prato da culinária brasileira que consiste em feijão cozido com diversos ingredientes adicionais. É um prato saboroso e reconfortante, caracterizado pela mistura de sabores e texturas. Os ingredientes variam, mas geralmente incluem carnes como bacon ou linguiça, legumes como cebola, alho, tomate e pimentão, e temperos como louro, cominho e pimenta. O resultado é um feijão cremoso e rico em sabores, que pode ser acompanhado de arroz branco, farinha de mandioca, couve refogada e carne. É uma opção popular e nutritiva na culinária brasileira..</p>
            </div>
        </div>
    </div>

    <div class="col l4 s12">
        <div class="card">
            <div class="card-image">
                <img class="activator" src="~/img/Mocoto.png">
                <span class="card-title">Mocotó</span>
            </div>
            <div class="card-content">
                <p>"Mocotó" é um prato da culinária brasileira conhecido por sua base de pés de boi cozidos, tradicionalmente utilizado para preparar um caldo rico em sabor. O mocotó é geralmente servido com diferentes ingredientes, como feijão branco, legumes variados, como cenoura, batata e cebola, e temperos como alho, coentro e pimenta. O resultado é um prato reconfortante e nutritivo, com um caldo rico e saboroso, acompanhado de ingredientes variados. O mocotó é apreciado como uma refeição completa e tradicionalmente é servido com arroz branco e farinha de mandioca..</p>
            </div>
        </div>
    </div>
</div>
    @* banners(separado)*@
    <div class="container" id="reconhecimento">
        <a href="https://www.ifood.com.br/delivery/ipatinga-mg/bar-da-graca-ltda---caravelas/03b5aba0-37fa-4a50-a0ec-1303a46f2cf0?utm_medium=share"></a>
    </div>
    @*Possível separação( Banner comida de buteco/ Banner ifood*@
    <div class="container" id="ifood">
        <a href="https://www.ifood.com.br/delivery/ipatinga-mg/bar-da-graca-ltda---caravelas/03b5aba0-37fa-4a50-a0ec-1303a46f2cf0?utm_medium=share"></a>
    </div>
      
    
    @*Eventos*@
    <div class="row light-blue darken-3" id="eventos">
        <div class="container">
            <h3> Fique por dentro dos próximos eventos!</h3>
            <div class="row">

                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Galinhada no Bar da Graça</span>
                        <p>DD/MM/AA, às HH:MM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Eventos(separado)*@

</div> 