@{
    ViewData["Title"] = "Produtos";
}

<div class="row product-list-item">
    <div class="card horizontal">
        <div class="card-image">
            <img src="~/img/Esp01.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3>Angu a baiana</h3>
                <p>Molho de carne moída com milho, bacon, angu e muçarela.</p>
            </div>
            <div class="card-action">
                <a href="https://www.ifood.com.br/delivery/ipatinga-mg/bar-da-graca-ltda---caravelas/03b5aba0-37fa-4a50-a0ec-1303a46f2cf0?utm_medium=share">Peça agora</a>
            </div>
        </div>
    </div>
</div>


<div class="row product-list-item" >
    <div class="card horizontal">
        <div class="card-image">
            <img src="~/img/Esp01.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3>Angu a baiana</h3>
                <p>Molho de carne moída com milho, bacon, angu e muçarela.</p>
            </div>
            <div class="card-action">
                <a href="https://www.ifood.com.br/delivery/ipatinga-mg/bar-da-graca-ltda---caravelas/03b5aba0-37fa-4a50-a0ec-1303a46f2cf0?utm_medium=share">Peça agora</a>
            </div>
        </div>
    </div>
</div>


<div class="row product-list-item">
    <div class="card horizontal">
        <div class="card-image">
            <img src="~/img/Esp01.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3>Angu a baiana</h3>
                <p>Molho de carne moída com milho, bacon, angu e muçarela.</p>
            </div>
            <div class="card-action">
                <a href="https://www.ifood.com.br/delivery/ipatinga-mg/bar-da-graca-ltda---caravelas/03b5aba0-37fa-4a50-a0ec-1303a46f2cf0?utm_medium=share">Peça agora</a>
            </div>
        </div>
    </div>
</div>
